@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("./PretendardVariable.woff2") format("woff2-variations");
}

/*@font-face {*/
/*  font-family: "Inter";*/
/*  src: url("./InterVariable.woff2") format("woff2");*/
/*  !*url('Inter-Regular.woff') format('woff');*!*/
/*  font-weight: 100 900;*/
/*  font-style: normal;*/
/*  font-display: swap;*/
/*}*/
